<%= turbo_frame_tag "design_modal" do %>
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Upload Design</h2>
        <%= link_to "×", admin_dashboard_path(tab: 'designs'), class: "modal-close" %>
      </div>
      
      <div class="modal-body">
        <%= render "form", design: @design %>
      </div>
    </div>
  </div>
<% end %>
